@import "../../scss/helpers/mixins.scss";

.card_grid {
  margin: 50px auto;
  max-width: 1470px;
  height: auto;
  width: 100%;

  @include respond-to ('small') {
    width: 91.7%;
    
    display: flex;
    flex-wrap: wrap;
  }
}