@import "../../scss/helpers/mixins.scss";

.section {
  margin: 0 auto;
  padding-bottom: 40px;
  max-width: 720px;

  border-bottom: 2px solid rgb(235, 235, 235);

  h2,h3 {
    margin: 20px auto;
    font-size: 20px;
    color: rgba(54, 54, 54, 0.9);
  }

  p {
    margin: 15px auto;
    color: rgba(54, 54, 54, 0.85);
  }

  blockquote {
    margin-left: 50px;
    min-height: 50px;

    display: flex;
    justify-content: center;

    border-left: 5px solid #02b036;

    p {
      flex: 2;
      padding-left: 5px;
    }

    &::before {
      content: "“";
      height: 20px;
      font-size: 30px;
      margin-left: 20px;
    }

    &::after {
      flex: 1;
      content: "”";
      height: 20px;
      font-size: 30px;
    }
  }  

  img {
    margin: 20px 0;
    max-width: 720px;
    width: 100%;
    height: auto;
  }

  @include respond-to ('medium') {
    h2,h3 {
      font-size: 22px;
    }

    p {
      font-size: 17px;
    }
  }
}